.wrapper {width: 1000px; margin: 0 auto; }

/*==============================================================================
Шапка
==============================================================================*/
#header {

    height: 50px;
    background: #5EE9FC;
   position: relative ;/* ;fixed;*/
    top:0; left:0 ;
    width: 100%;
    -webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 1px 1px rgba(50, 50, 50, 1);
    box-shadow:         0px 1px 1px rgba(50, 50, 50, 1);
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   behavior: url(border-radius.htc);
}
.logo {float: left; margin: 10px 0 0;}

.admin_top_menu {float: right;}
.admin_top_menu>li{
    float: left;
    background: url(../../img/admin/bg_v_2px.png) no-repeat left;
    padding: 5px;
    height: 40px;
}
/*спрайты для иконок админ панели*/
.sprite_cp_admin{
    background: url(../../img/admin/sprites_cp_icons.png);
    width: 40px;
    height: 40px;
    display: inline-block;
}

.cp-users, .cp-users:hover{background-position: -40px 0}
.cp-groups, .cp-groups:hover {background-position: -40px -40px}
.cp-sales, .cp-sales:hover{background-position: -40px -80px}
.cp-comments, .cp-comments:hover{background-position: -40px -120px}
.cp-messages, .cp-messages:hover{background-position: -40px -160px}
.cp-orders, .cp-orders:hover{background-position: -40px -200px}
.cp-typeorders, .cp-typeorders:hover{background-position: -40px -240px}
.cp-printers, .cp-printers:hover{background-position: -40px -280px}
.cp-brands, .cp-brands:hover{background-position: -40px -320px }
.cp-fix, .cp-fix:hover{background-position: -40px -360px}
.cp-categories, .cp-categories:hover{background-position: -40px -400px}
.cp-articles, .cp-articles:hover{background-position: -40px -440px}
.cp-banners, .cp-banners:hover{background-position: -40px -480px}
.cp-viewsite, .cp-viewsite:hover{background-position: -41px -520px}
.cp-settings, .cp-settings:hover{background-position: -40px -560px}
.cp-contacts, .cp-contacts:hover {background-position: -40px -600px}
.cp-logout,  .cp-logout:hover{background-position: -40px -640px}

.cp-users:hover{background-position: -41px -1px}
.cp-groups:hover {background-position: -41px -41px}
.cp-sales:hover{background-position: -41px -81px}
.cp-comments:hover{background-position: -41px -121px}
.cp-messages:hover{background-position: -41px -161px}
.cp-orders:hover{background-position: -41px -201px}
.cp-typeorders:hover{background-position: -41px -241px}
.cp-printers:hover{background-position: -41px -281px}
.cp-brands:hover{background-position: -41px -321px }
.cp-fix:hover{background-position: -41px -361px}
.cp-categories:hover{background-position: -41px -401px}
.cp-articles:hover{background-position: -41px -441px}
.cp-banners:hover{background-position: -41px -481px}
.cp-viewsite:hover{background-position: -42px -521px}
.cp-settings:hover{background-position: -41px -561px}
.cp-contacts:hover {background-position: -41px -601px}
.cp-logout:hover{background-position: -41px -641px}



/*==============================================================================
Контент
==============================================================================*/
#content {margin: 55px 20px 0;}

/* заголовок контента, ссылка в профиль админа */
.cp_header {
    height: 50px;
    padding: 0 40px 15px;
    margin-bottom: 15px;
    background: #fff  url(../../img/bg_line-shadow.png) no-repeat bottom center;;
    line-height: 50px;
    font-weight: bold;
}
.cp_title {
    font-size: 1.6em;
    color: #FA9B05;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}
.cp_command {float: right;}
.cp_command a {text-decoration: none; color: #01A0B6;}
.cp_command a:hover {text-decoration: underline}
/*==============================================================================
Подвал сайта
==============================================================================*/
.footer {height: 50px; }
.footer a {text-decoration: none; color: #ACACAC}

.pagin {font-weight: bold; width: 250px; margin: 20px auto 5px}
.pagin span {margin: 0 5px;}
.pagin a{color: #000; text-decoration: none;}
.current {color: #fff; border: 1px solid #E9EFF8;padding: 0 5px;background: #9547BC;}

/*==============================================================================
Сетка для контента
==============================================================================*/
.grid_1 {width: 60px;}
.grid_2 {width: 140px;}
.grid_3 {width: 220px;}
.grid_4 {width: 300px;}
.grid_5 {width: 380px;}
.grid_6 {width: 460px;}
.grid_7 {width: 540px;}
.grid_8 {width: 620px;}
.grid_9 {width: 700px;}
.grid_10 {width: 780px;}
.grid_11 {width: 860px;}
.grid_12 {width: 940px;}
.column {margin: 0 10px 0 10px;overflow: hidden; float: left; display: inline;}
.column.title {
    text-align: center;
    font-weight: bold;
    color: blueviolet;
}
.title-left {
    text-align: left;font-weight: bold;
}
.row {width: 960px;margin: 5px auto;overflow: hidden;}
.row .row {margin: 0 -10px 0 -10px; width: auto; display: inline-block;}
.row a{text-decoration: none;}

.seo {
	float:left;
	clear:both;
	margin-bottom:20px;
	color: #FA9B05;
	border-bottom: 1px solid #FA9B05 ;
}
.input_seo {width: 95%; border-color: #ABADB3;}
.input_image {position: relative; float: left;}
.input_image_delete{
    position: absolute;
    left: 0; bottom: 0;
    background: #737373; color: #fff;
    text-decoration: none;
    padding: 3px;
}
/*==============================================================================
иконки для кнопок управления
==============================================================================*/
.controls{
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 5px;
    background: url(../../img/sprite_controls.png) no-repeat;
}
.control-add{background-position: -192px -96px;}
.control-view{background-position: -160px -96px;}
.control-edit{background-position: -128px -32px;}
.control-del{background-position: -256px -96px;}
.control-locked{background-position: 0 -32px;}
.control-unlocked{background-position: -32px -32px;}

.loader_span img{float: left;}
/*==============================================================================
 кнопки
==============================================================================*/
.btn_orange {
    background: #FF9200;
    color: #000;
    font-weight: bold;
}
/*==============================================================================
 пользователи
==============================================================================*/
.user_photo{margin: 5px 0;}