* {margin: 0;padding: 0;}
header, nav, section, article, aside, footer, figure, hgroup {display: block;}
body {font: 12px/18px Arial, Tahoma, Verdana, sans-serif;width: 100%;color: #333;}
a {color: blue;	outline: none;text-decoration: underline;}
a:hover {text-decoration: none;}
p {margin: 0 0 5px}
img {border: none;}
input {vertical-align: middle; padding: 5px; border-radius: 5px; border: 1px solid #636260;}
input[type=submit]{cursor: pointer}
li{list-style: none;}

/*===========================================================================
Formated styles
=============================================================================*/
/*gorizontal menu*/
.gmenu > li {float: left;}
.gmenu > li > a{text-decoration: none; display: block;}
/*format inline elements*/
.b {font-weight: bold}
.i{font-style: italic}
.u {text-decoration: underline}
.center {text-align: center;}
.clr, .clear{clear: both;}
.lft{ float: left}
.rght{float: right}
.rnd5 {
    border: 1px solid #EDEAED;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    -khtml-border-radius: 5px; 
    border-radius: 5px;  
    behavior: url(border-radius.htc); 
}

.relative {position: relative;}
.border_none {border: none;}
.border_grey {border: 1px solid #EBE9E9;}

a:hover {cursor: pointer;}
h1 a, h2 a, h3 a {color: inherit; text-decoration: none;}
.white-line {
    background: url(../img/white-line.png) repeat-x center; 
    width: 70px; 
    height: 10px;
    margin: 0 20px;
    display: inline-block;
}


.row {margin: 10px 0;}

.col2{width: 50%;  }
.col3{width: 33%; }
.col4{width: 25%;  }
.col5{width: 20%;}

.error-message{color: #cd0a0a; font-weight: bold;}


::-webkit-input-placeholder {color: #999;}
:-moz-placeholder {color: #999;}
.placeholder {color: #999;}
/*===========================================================================
messages
=============================================================================*/
#msg {
  margin: -10px 0 0 -185px;
  padding: 5px 5px 5px 15px;
  width: 350px;
  border-radius: 5px;
  -moz-border-radius: 5px;  
  -webkit-border-radius: 5px; 
  -khtml-border-radius: 5px;  
  behavior: url(border-radius.htc);  
  color: #fff;
  position: absolute;
  top:50%;
  left: 50%;
  z-index: 1000;
}

.msg_success {background: #6F8216 url(../img/bg_msg.png) repeat-x;}
.msg_info {background: #FFC700 }
.msg_error {background: #DE230B;    }

#msg>div{
  width: 280px;
  padding: 5px 5px 5px 45px;
}

.msg_success>div {background: url(../img/bg_ico_info.png) no-repeat 0 5px; }
.msg_info>div {background: url(../img/bg_ico_confirm.png) no-repeat 0 5px; }
.msg_error>div {background: url(../img/bg_ico_error.png) no-repeat 0 5px; }

.msg_title {
  font-weight: bold;
  font-size: 1.5em;
}

.msg_info .msg_title  {color: #dd220d;}

.msg_info p {color: #393939;}
#msg p {font-size: 1em;}
.msg_close {
  float: right;
  width: 16px;
  height: 16px;
  background: url(../img/msg_close.png) no-repeat center;
}
/*===========================================================================
UI jQuery
=============================================================================*/
.ui-datepicker-trigger {
    float: left;
    margin-left: -34px;
    margin-top: -3px;

}